@import "../../styles/variables/colors.scss";

.header {
  width: 100%;
  background-color: $black;
  min-height: 96px;

  .wrapper {
    border-bottom: 1px solid rgb(255,255,255, 0.2);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 310px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 1870px) {
      padding: 0 200px;
    }
    @media screen and (max-width: 1650px) {
      padding: 0 100px;
    }
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__num {
      color: $white;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
      transition: all 0.4s ease-in-out;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white;
        transition: width 0.2s ease-in-out;
        z-index: 0;
        opacity: 0.9;
      }

      &:hover::before {
        width: 100%;
      }
      &:active {
        color: rgb(115, 25, 115);
      }
    }

    &__text {
      color: $orange;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      text-decoration-line: underline;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &__bar {
    display: flex;
    margin: 0 40px 0 150px;
  }

  &__basket {
    &__title {
      color: $white;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      margin: 0;
      width: 100%;
      min-width: 149px;
    }

    &__price {
      color: $white;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      margin-top: 4px;
    }
  }
}
